/vendor
node_modules
.idea

.env.local

# For those using Apache for local
/public/.htaccess

#Mac Files
**/.DS_Store

!.gitkeep

/public/uploads
!/public/uploads/.gitkeep

/system/user/addons/*
!/system/user/addons/index.html
/system/user/cache/*
!/system/user/cache/index.html